.maiusculo {
	text-transform: uppercase;
}

.datausr {
	margin-top: 5px;
	float: right;
	margin-right: 5px;
	clear: left;
}

.datausr input {
	width: 150px;
}

.tablemargin {
	clear: both;
	/* 	margin-top: 5px;			 */
}

.table {
	width: 100%;
}





.tablemargin textarea {
	height: 20px;
}

.celula {
	float: left;
	width: 200px;
	/* 	height: 90px; */
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 20px;
	
	/* 	border-right: 2px solid #eeeeee; */
}

.celula label { /* 	display: inline-block; */
	/* 	margin-left: 5px; */
	
}

.form-actions {
	clear: both;
}

.celula textarea {
	height: 20px;
}

.formulario { /* 	width: 100%; */
	/* 	margin-bottom: 20px; */
	
}

.tabs{
	height: 200px;
}